In [1]:
#Hints

#Use Splinter to navigate the sites when needed and BeautifulSoup to help find and parse out the necessary data.


#Use Pymongo for CRUD applications for your database. For this homework, you can simply overwrite the existing document each time the /scrape url is visited and new data is obtained.


#Use Bootstrap to structure your HTML template.

In [2]:
#Scrape the Mars News Site and collect the latest News Title and Paragraph Text.
#Assign the text to variables that you can reference later.
#Latest News

In [3]:
#Import splinter & ChromeDriver Manager
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

#Set up splinter
executable_path={'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 98.0.4758
Get LATEST chromedriver version for 98.0.4758 google-chrome
Driver [C:\Users\jenny\.wdm\drivers\chromedriver\win32\98.0.4758.102\chromedriver.exe] found in cache

In [4]:
#Go to Mars News Site 
url= 'https://redplanetscience.com/'
browser.visit(url)

In [5]:
#Convert to a soup object
#import Beautiful Soup
from bs4 import BeautifulSoup as soup

html = browser.html
news_soup = soup(html, 'html.parser')
slide_elem = news_soup.select_one('div.list_text')
slide_elem

<div class="list_text">
<div class="list_date">February 18, 2022</div>
<div class="content_title">NASA's Mars Rover Drivers Need Your Help</div>
<div class="article_teaser_body">Using an online tool to label Martian terrain types, you can train an artificial intelligence algorithm that could improve the way engineers guide the Curiosity rover.</div>
</div>

In [6]:
slide_elem.find('div', class_='content_title')

In [7]:
#find the paragraph text
para_text= slide_elem.find('div', class_='article_teaser_body').get_text()
para_text

'Using an online tool to label Martian terrain types, you can train an artificial intelligence algorithm that could improve the way engineers guide the Curiosity rover.'

In [8]:
#Get images from JPL
#this is to put together the featured image url
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [9]:
#find the full image & click it
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [17]:
#parse with Beautiful Soup
html= browser.html
full_img = soup(html, 'html.parser')

In [12]:
img_url_rel = full_img.find('img', class_ = 'fancybox-image').get('src')
img_url_rel

'image/featured/mars3.jpg'

In [ ]:
#set up the featured_image_url.

In [13]:
featured_image_url = f'https://spaceimages-mars.com/{img_url_rel}'
featured_image_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [ ]:
#Mars Facts

In [14]:
#Visit the Mars Facts webpage and use Pandas to scrape the table with facts including Diameter, Mass, etc.
import pandas as pd

#get data from Mars-Earth Comparison
df = pd.read_html('https://galaxyfacts-mars.com')[0]
df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [15]:
#drop index, add column names to dataframe
df.columns=['Description', 'Mars', 'Earth']
df.set_index('Description', inplace=True)
df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [16]:
#convert dataframe to html
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [ ]:
#Visit the astrogeology site here to obtain high resolution images for each of Mar's hemispheres.

In [24]:
url = 'https://marshemispheres.com/'
browser.visit(url)

In [33]:
#Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. 
#Use a Python dictionary to store the data using the keys img_url and title.
hemisphere_image_urls = []

#populate the list with links to photos of all of the hemispheres
links = browser.find_by_css('a.product-item img')

for i in range(len(links)):
    hemisphere = {}
    
    #find the elements
    browser.find_by_css('a.product-item img')[i].click()
    
    #find the Sample image anchor tag & get the href
    sample_elem = browser.links.find_by_text('Sample').first
    
    #get the hemisphere title
    hemisphere['img_url']= sample_elem['href']
    
    #get the hemisphere title
    hemisphere['title'] = browser.find_by_css('h2.title').text
    
    #append hemisphere info to the image url list
    hemisphere_image_urls.append(hemisphere)
    
    #then go back
    browser.back()

In [34]:
hemisphere_image_urls

[{'img_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [36]:
#end session
browser.quit

In [ ]:
#Step 2 - MongoDB and Flask Application
#Use MongoDB with Flask templating to create a new HTML page that displays all of the information that was scraped from the URLs above.


#Start by converting your Jupyter notebook into a Python script called scrape_mars.py with a function called scrape that will execute all of your scraping code from above and return one Python dictionary containing all of the scraped data.


#Next, create a route called /scrape that will import your scrape_mars.py script and call your scrape function.

#Store the return value in Mongo as a Python dictionary.



#Create a root route / that will query your Mongo database and pass the mars data into an HTML template to display the data.


#Create a template HTML file called index.html that will take the mars data dictionary and display all of the data in the appropriate HTML elements. Use the following as a guide for what the final product should look like, but feel free to create your own design.